# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Model and lib files
*.onnx
*.caffemodel
*.prototxt
*.dll
*.pt

# Build directories
/face_recognition/build/
/build/

# Assets directory
#/assets/

# Third-party libraries
/third_party/

# Large files
third_party/onnxruntime-win-x64-1.19.2/lib/onnxruntime.pdb

# Windows specific
*.exe
*.pdb

# Temporary files
*.tmp
*.temp

# Log files
*.log

# Cache files
*.cache

# macOS specific
.DS_Store

# Linux specific
*~

# Flutter web related
lib/generated_plugin_registrant.dart

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_export_environment.sh
**/ios/.symlinks/
**/ios/Pods/
